{% extends 'base.html' %}
{% load static %}
{% block title %} TechDev Blog {%endblock%}
{% block content %}
<style>
    .posts img {
        width: 200px;
        height: 200px;
    }
</style>
<div class="container">
    <div class="main" id="main">
        <div class="section-1">
            <div class="row">
                <div class="col-md-6 col-12">

                    <div class="main-content-wrapper">
                        <div class="main-content-header">Featured Blog Post</div>
                        <div></div>
                        <div class="main-content-title">{{object_list.0.title}}</div>
                        <div class="main-content-desc">{{object_list.0.body | safe |slice:200}}</div>
                        <div class="main-content-btn">
                            <a class="btn btn-outline-secondary read-more-btn"
                                href="{% url 'ArticleDetail' object_list.0.id %}">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="main-header-img-wrapper">
                        <img src="{% static 'TheBlog/images/web3.webp'%}" alt="" style="width: 100%;">

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
    <div class="">
        <div class="section-2">
            <div class="posts" style="max-width: 920px; margin: 0 auto;">


                <h1 class="blog-header">Blog Posts</h1>
                <ul class="list-posts">
                    {% for post in object_list %}
                    <!-- <li>
                <a href="{% url 'ArticleDetail' post.pk %}" target="_blank" rel="noopener noreferrer">
                    <div class="d-inline fs-3">
                        {{post.title}}
                    </div>
                </a>
                <div>
                    <span>{{post.author.first_name}} {{post.author.last_name}}</span>
                <a href="{% url 'Categories' post.category %}"> {{post.category}}</a>
                </div>
                <div>
                    <span>Published Date : {{post.post_date}}</span>
                    {% if user.id == post.author.id %}
                        {% if user.is_authenticated %}
                            <span><small><a href="{%url 'EditPost' post.pk %}">(Edit)</a></small></span>
                            <span><small><a href="{%url 'DeletePost' post.pk %}">(Delete)</a></small></span>
                        {% endif %}
                    {% endif %}
                </div>
                <div>{{ post.snippets }}</div>
                <-- <div><h6>{{post.body|slice:":200"|safe}}</h5></div> -->
                    <!-- </li> -->
                    <li>
                        <div class="card mb-3" style="max-width: 920px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    {% if post.header_image %}
                                    <img src="{{post.header_image.url}}" class="img-fluid rounded-start" alt="image"
                                        style="width: 100%;height: 100%;">
                                    {%endif%}
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <a href="{% url 'ArticleDetail' post.pk %}" rel="noopener noreferrer"
                                            class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                                            <h5 class="card-title">{{post.title}}</h5>
                                        </a>
                                        <p class="card-text">{{post.body|slice:":250"|safe}}</p>
                                        <p class="card-text"><small
                                                class="text-body-secondary">{{post.author.first_name}}
                                                {{post.author.last_name}} <span class="dot"></span>
                                                {{post.post_date}}</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <div class="pagination_wrapper">
                    {% if is_paginated %}
                    <div class="pagination justify-content-center">
                        <span class="page-links">
                            {% if page_obj.has_previous %}
                            <a href="/?page={{ page_obj.previous_page_number }}">Previous</a>
                            {% endif %}
                            <span class="page-current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                            {% if page_obj.has_next %}
                            <a href="/?page={{ page_obj.next_page_number }}">Next</a>
                            {% endif %}
                        </span>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}